<!DOCTYPE html>
<html>

<head>
  <title>MJENGO HUB</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Creepster|Fredericka+the+Great|Frijole|Just+Me+Again+Down+Here|Sedgwick+Ave+Display|Vast+Shadow" rel="stylesheet">
  <link rel='stylesheet' href='/app.css'>

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Mjengo Hub</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/items">Items</a></li>
        <li><a href="/login">Seller Portal</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>
  #parse( $template )
</body>

</html>